<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
    </modules>

    <handlers>
      <add name="iisnode" path="index.js" verb="*" modules="iisnode" resourceType="Unspecified" />
    </handlers>

    <rewrite>
      <rules>
        <rule name="NodeJS">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.js" />
        </rule>
      </rules>
    </rewrite>

    <iisnode
      watchedFiles="web.config;*.js"
      loggingEnabled="true"
      logDirectory="logs"
      nodeProcessCommandLine="node.exe"
    />

    <httpErrors errorMode="Detailed" />
  </system.webServer>
</configuration>
